:root {
  --neutral-900: hsl(0, 0%, 7%);
  --neutral-800: hsl(0, 0%, 15%);
  --neutral-700: hsl(0, 0%, 23%);
  --neutral-500: hsl(240, 3%, 46%);
  --neutral-400: hsl(240, 1%, 59%);
  --neutral-0: hsl(0, 0%, 100%);

  --blue-600: hsl(214, 100%, 55%);
  --blue-400: hsl(210, 100%, 65%);
  --red-500: hsl(354, 63%, 57%);
  --green-500: hsl(140, 63%, 57%);
  --yellow-400: hsl(49, 85%, 70%);
}

@font-face {
  font-family: "Sora";
  src:
    local("Sora"),
    url("assets/fonts/Sora/Sora-VariableFont_wght.ttf");
}

/* Table of content:
    1. Reset
    2. General styles
    3. Layout
      3.1 Header
      3.2 Test header
      3.3 Test scores
      3.4 Test settings
*/

/* 1. Reset *******************************************************************************
*******************************************************************************************/
*, *::before, *::after {
  box-sizing: border-box;
}
body {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
}

/* 2. General styles **********************************************************************
*******************************************************************************************/
body {
  background-color: var(--neutral-900);
  color: var(--neutral-0);
  font-family: 'Sora', system-ui;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
input[type="radio"] {
  margin-inline: 0.625em;
}
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

/* 3. Layout ******************************************************************************
*******************************************************************************************/
.container {
  width: min(90%, 75rem);
  margin: 1em auto;
}

/* 3.1 Header *****************************************************************************
*******************************************************************************************/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.best-speed {
  display: flex;
  gap: 0.625rem;
}
.personal-best-txt {
  color: var(--neutral-400);
}

/* 3.2 Test header ************************************************************************
*******************************************************************************************/
.test-header {
  border-block-end: 1px solid var(--neutral-700);
}

/* 3.3 Test scores ************************************************************************
*******************************************************************************************/
.test-scores {
  display: flex;
  text-align: center;
}
.test-score-item {
  flex: 1;
  p {
    margin-block-start: 0;
    color: var(--neutral-400);
  }
  + .test-score-item {
    border-inline-start: 1px solid var(--neutral-400);
  }
}

/* 3.4 Test settings **********************************************************************
*******************************************************************************************/
.test-settings {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.625em;
  margin-block: 1em;
}
.test-settings button {
  border: 1px solid var(--neutral-500);
  border-radius: 8px;
  padding: 0.375em 0;
  background-color: var(--neutral-900);
  font: inherit;
  color: var(--neutral-0);
  width: 100%;
  text-align: center;

  display: flex;
  justify-content: center;
  gap: .625em;
}
.options {
  display: none;
}
