:root {
  --neutral-900: hsl(0, 0%, 7%);
  --neutral-800: hsl(0, 0%, 15%);
  --neutral-500: hsl(240, 3%, 46%);
  --neutral-400: hsl(240, 1%, 59%);
  --neutral-0: hsl(0, 0%, 100%);

  --blue-600: hsl(214, 100%, 55%);
  --blue-400: hsl(210, 100%, 65%);
  --red-500: hsl(354, 63%, 57%);
  --green-500: hsl(140, 63%, 57%);
  --yellow-400: hsl(49, 85%, 70%);
}

@font-face {
  font-family: "Sora";
  src:
    local("Sora"),
    url("assets/fonts/Sora/Sora-VariableFont_wght.ttf");
}

/* Table of content:
    1. Reset
    2. General styles
*/

/* 1. Reset */
*, *::before, *::after {
  box-sizing: border-box;
}
body {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
}

/* 2. General styles */
body {
  background-color: var(--neutral-900);
  color: var(--neutral-0);
  font-family: 'Sora', system-ui;
}

/* 3. Layout */
.container {
  width: min(90%, 75rem);
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1em 0;
}
.best-speed {
  display: flex;
  gap: 1rem;
}
.personal-best-txt {
  color: var(--neutral-400);
}