:root {
  /* Colors */
  --neutral-900: hsl(0, 0%, 7%);
  --neutral-800: hsl(0, 0%, 15%);
  --neutral-700: hsl(0, 0%, 23%);
  --neutral-500: hsl(240, 3%, 46%);
  --neutral-400: hsl(240, 1%, 59%);
  --neutral-0: hsl(0, 0%, 100%);

  --blue-600: hsl(214, 100%, 55%);
  --blue-400: hsl(210, 100%, 65%);
  --red-500: hsl(354, 63%, 57%);
  --green-500: hsl(140, 63%, 57%);
  --yellow-400: hsl(49, 85%, 70%);

  /* Fonts */
  --text-preset-1-regular-mobile: 400 2rem 'Sora', system-ui;
  --text-preset-2: 700 1.5rem 'Sora', system-ui;
  --text-preset-3-mobile: 400 1rem 'Sora', system-ui;
  --text-preset-3-semiBold: 600 1.25rem 'Sora', system-ui;
}

@font-face {
  font-family: "Sora";
  src:
    local("Sora"),
    url("assets/fonts/Sora/Sora-VariableFont_wght.ttf");
}

/* Table of content:
    1. Reset
    2. General styles
    3. Utilities
    4. Layout
      4.1 Header
      4.2 Main
      4.3 Test header
      4.4 Test scores
      4.5 Test settings
      4.6 Starting page
      4.7 Passage
      4.8 Restart
*/

/* 1. Reset *******************************************************************************
*******************************************************************************************/
*, *::before, *::after {
  box-sizing: border-box;
}
body {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
}

/* 2. General styles **********************************************************************
*******************************************************************************************/
body {
  background-color: var(--neutral-900);
  color: var(--neutral-0);
  font: var(--text-preset-3-mobile);
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
input[type="radio"] {
  margin-inline: 0.625em;
}
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

/* 3. Utilities ***************************************************************************
*******************************************************************************************/
.invisible {
  visibility: hidden;
}
.red-txt {
  color: var(--red-500);
}
.yellow-txt {
  color: var(--yellow-400);
}
.green-txt {
  color: var(--green-500);
}
.underlined-txt {
  text-decoration: underline;
}

/* 4. Layout ******************************************************************************
*******************************************************************************************/
.container {
  width: min(90%, 75rem);
  margin: 1em auto;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* 4.1 Header *****************************************************************************
*******************************************************************************************/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.best-speed {
  display: flex;
  gap: 0.625rem;
}
.personal-best-txt {
  color: var(--neutral-400);
}

/* 4.2 Main *******************************************************************************
*******************************************************************************************/
main {
  flex: 1;
  display: grid;
  align-content: start;
  overflow-y: auto;
}

/* 4.3 Test header ************************************************************************
*******************************************************************************************/
.test-header {
  border-block-end: 1px solid var(--neutral-700);
}

/* 4.4 Test scores ************************************************************************
*******************************************************************************************/
.test-scores {
  display: flex;
  text-align: center;
}
.test-score-item {
  flex: 1;
  p {
    margin-block-start: 0;
  }
  + .test-score-item {
    border-inline-start: 1px solid var(--neutral-400);
  }
}
.score-label {
  color: var(--neutral-400);
}
.score-value {
  font: var(--text-preset-2);
}

/* 4.5 Test settings **********************************************************************
*******************************************************************************************/
.test-settings {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.625em;
  margin-block: 1em;
}
.setting-item {
  position: relative;
}
.setting-btn {
  border: 1px solid var(--neutral-500);
  border-radius: 8px;
  padding: 0.375em 0;
  background-color: var(--neutral-900);
  font: inherit;
  color: var(--neutral-0);
  width: 100%;
  text-align: center;
  text-transform: capitalize;

  display: flex;
  justify-content: center;
  gap: .625em;
}
.setting-options{
  position: absolute;
  width: 100%;
  margin-block-start: 0.5em;
  z-index: 1;

  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: var(--neutral-800);

  legend {
    display: none;
  }
  label {
    padding-block: 0.5em;
  }
  label + label {
    border-block-start: 1px solid var(--neutral-700);
  }
}


/* 4.6 Starting page **********************************************************************
*******************************************************************************************/
.passage-container {
  display: grid;
  grid-template-areas: "single-cell";
  overflow-y: auto;
  & > * {
    grid-area: single-cell;
  }
}
.starting-screen {
  display: grid;
  place-content: center;
  backdrop-filter: blur(8px);
}
.start-btn {
  background-color: var(--blue-600);
  color: var(--neutral-0);
  font: inherit;
  border-radius: 12px;
  padding: 1em 1.5em;
  border: none;
}

/* 4.7 Passage ****************************************************************************
*******************************************************************************************/
.test-passage-txt {
  font: var(--text-preset-1-regular-mobile);
  color: var(--neutral-400);
  padding-inline: 1rem;
  overflow-y: auto;
  scrollbar-width: none;
  position: relative; /* For auto scroll */
}
.test-passage-input {
  width: 0;
  height: 0;
  opacity: 0;
}
.letter{
  position: relative;
}
.highlighted-letter:after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: hsl(0 0 100% / 0.2);
  min-width: 0.25em;
}

/* 4.8 Restart ****************************************************************************
*******************************************************************************************/
.restart-container {
  padding-block-start: max(0.5vw, 1.5em);
  border-block-start: 1px solid var(--neutral-700);
  display: flex;
  justify-content: center;
}
.restart-btn {
  background-color: var(--neutral-800);
  color: var(--neutral-0);
  font: var(--text-preset-3-semiBold);
  padding: 0.5em 0.8em;
  border-radius: 12px;
  border: none;

  display: none;
}
.restart-btn-shown {
  display: flex;
  gap: 0.5em;
}